﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>

    @using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h3>Multiple file upload with asp.net MVCc/MVC3/MVC4/MVC5, C# and HTML5 </h3>
        <input type="file" name="files" value="" multiple="multiple" />
        <input type="submit" value="Upload Your Images" title="Upload" />
        <div style="color:Red;font-size:14px">@ViewBag.Message</div>
    }
</head>
<body>
<div>
    @Html.Raw(ViewBag.Results);
</div>
</body>
</html>